### 2. Data preprocessing - data cleaning and feature engineering
Before we move action to training model, data processing is always required. We applied several types of methods here:
1) Cleaning data with dropping bad attributes or instances
2) Dealing with missing values.
3) Creation new features from existing ones
4) Data transform

#### Quick data exploration
First, we have a quick data overiew of both train and test data.

In [1]:
import pandas as pd
import numpy as np

In [9]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")
train.drop(['Id'], axis=1, inplace=True)
test.drop(['Id'], axis=1, inplace=True)

In [10]:
train.shape

(1460, 80)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 80 columns):
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(34), object(43)
memory usage: 912.6+ KB

In [12]:
test.shape

(1459, 79)

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 79 columns):
MSSubClass       1459 non-null int64
MSZoning         1455 non-null object
LotFrontage      1232 non-null float64
LotArea          1459 non-null int64
Street           1459 non-null object
Alley            107 non-null object
LotShape         1459 non-null object
LandContour      1459 non-null object
Utilities        1457 non-null object
LotConfig        1459 non-null object
LandSlope        1459 non-null object
Neighborhood     1459 non-null object
Condition1       1459 non-null object
Condition2       1459 non-null object
BldgType         1459 non-null object
HouseStyle       1459 non-null object
OverallQual      1459 non-null int64
OverallCond      1459 non-null int64
YearBuilt        1459 non-null int64
YearRemodAdd     1459 non-null int64
RoofStyle        1459 non-null object
RoofMatl         1459 non-null object
Exterior1st      1458 non-null object
Exterior2nd      1458 non-null object
MasVnrType       1443 non-null object
MasVnrArea       1444 non-null float64
ExterQual        1459 non-null object
ExterCond        1459 non-null object
Foundation       1459 non-null object
BsmtQual         1415 non-null object
BsmtCond         1414 non-null object
BsmtExposure     1415 non-null object
BsmtFinType1     1417 non-null object
BsmtFinSF1       1458 non-null float64
BsmtFinType2     1417 non-null object
BsmtFinSF2       1458 non-null float64
BsmtUnfSF        1458 non-null float64
TotalBsmtSF      1458 non-null float64
Heating          1459 non-null object
HeatingQC        1459 non-null object
CentralAir       1459 non-null object
Electrical       1459 non-null object
1stFlrSF         1459 non-null int64
2ndFlrSF         1459 non-null int64
LowQualFinSF     1459 non-null int64
GrLivArea        1459 non-null int64
BsmtFullBath     1457 non-null float64
BsmtHalfBath     1457 non-null float64
FullBath         1459 non-null int64
HalfBath         1459 non-null int64
BedroomAbvGr     1459 non-null int64
KitchenAbvGr     1459 non-null int64
KitchenQual      1458 non-null object
TotRmsAbvGrd     1459 non-null int64
Functional       1457 non-null object
Fireplaces       1459 non-null int64
FireplaceQu      729 non-null object
GarageType       1383 non-null object
GarageYrBlt      1381 non-null float64
GarageFinish     1381 non-null object
GarageCars       1458 non-null float64
GarageArea       1458 non-null float64
GarageQual       1381 non-null object
GarageCond       1381 non-null object
PavedDrive       1459 non-null object
WoodDeckSF       1459 non-null int64
OpenPorchSF      1459 non-null int64
EnclosedPorch    1459 non-null int64
3SsnPorch        1459 non-null int64
ScreenPorch      1459 non-null int64
PoolArea         1459 non-null int64
PoolQC           3 non-null object
Fence            290 non-null object
MiscFeature      51 non-null object
MiscVal          1459 non-null int64
MoSold           1459 non-null int64
YrSold           1459 non-null int64
SaleType         1458 non-null object
SaleCondition    1459 non-null object
dtypes: float64(11), int64(25), object(43)
memory usage: 900.6+ KB

Both train data (including 1460 instances) and test data (including 1459 instances) have 79 variable features, which consist of numerical features (like int64 and float64 type) and non-numeric features (like object type).

#### Target variable transformation
As we see before, log-transformation of target variable 'SalesPrice' shows a pretty good normal distribution. So we choose np.log1p for the transformation, which means y=log(y)+1.

In [14]:
# target variable to y
train.SalePrice = np.log1p(train.SalePrice)
y = train.SalePrice.reset_index(drop=True)
train_features = train.drop(['SalePrice'], axis=1)
test_features = test

#### Dealing with missing data
Some algorithms do not like missing values. Some are capable of handling them, but others are not. Therefore since we are going to try a variety of algorithms, it's best to treat them in an appropriate way.
In order to treat this dataset, first of all we create a dataset of the training and test data in order to make changes consistent across both. Then, we cycle through each feature with missing values and treat them individually based on the data description, or my judgement.

In [15]:
# dealing with missing data
features= pd.concat([train_features, test_features]).reset_index(drop=True)
features.shape

(2919, 79)

First, we have a look at where the missing values sit.

In [16]:
def nulls(n):
  nulls = np.sum(n.isnull())
  nullcols = nulls.loc[(nulls != 0)]
  dtypes = n.dtypes
  dtypes2 = dtypes.loc[(nulls != 0)]
  info = pd.concat([nullcols, dtypes2], axis=1).sort_values(by=0, ascending=False)
  print(info)
  print("There are", len(nullcols), "columns with missing values")
nulls(features)

                 0        1
PoolQC        2909   object
MiscFeature   2814   object
Alley         2721   object
Fence         2348   object
FireplaceQu   1420   object
LotFrontage    486  float64
GarageFinish   159   object
GarageQual     159   object
GarageCond     159   object
GarageYrBlt    159  float64
GarageType     157   object
BsmtExposure    82   object
BsmtCond        82   object
BsmtQual        81   object
BsmtFinType2    80   object
BsmtFinType1    79   object
MasVnrType      24   object
MasVnrArea      23  float64
MSZoning         4   object
BsmtFullBath     2  float64
BsmtHalfBath     2  float64
Functional       2   object
Utilities        2   object
GarageArea       1  float64
GarageCars       1  float64
Electrical       1   object
KitchenQual      1   object
TotalBsmtSF      1  float64
BsmtUnfSF        1  float64
BsmtFinSF2       1  float64
BsmtFinSF1       1  float64
Exterior2nd      1   object
Exterior1st      1   object
SaleType         1   object
There are 34 columns with missing values

As above, there are 34 features has missing values. Some of them have more than 1000 missing values, that is too much to fill in. So, we drop the features with more than 1000 missing values.

In [17]:
# Remove columns with more than a thousand missing values
features=features.drop("PoolQC", 1)
features=features.drop("MiscFeature", 1)
features=features.drop("Alley", 1)
features=features.drop("Fence", 1)
nulls(features)

                 0        1
FireplaceQu   1420   object
LotFrontage    486  float64
GarageFinish   159   object
GarageCond     159   object
GarageQual     159   object
GarageYrBlt    159  float64
GarageType     157   object
BsmtCond        82   object
BsmtExposure    82   object
BsmtQual        81   object
BsmtFinType2    80   object
BsmtFinType1    79   object
MasVnrType      24   object
MasVnrArea      23  float64
MSZoning         4   object
BsmtFullBath     2  float64
BsmtHalfBath     2  float64
Utilities        2   object
Functional       2   object
GarageCars       1  float64
GarageArea       1  float64
TotalBsmtSF      1  float64
KitchenQual      1   object
Electrical       1   object
BsmtUnfSF        1  float64
BsmtFinSF2       1  float64
BsmtFinSF1       1  float64
Exterior2nd      1   object
Exterior1st      1   object
SaleType         1   object
There are 30 columns with missing values

Then, we will deal with missing values from less to more. Looking carefully of the data, we can find and fill in <code>Functional</code> with 'Typ', <code>Electrical</code> with 'SBrkr', <code>KitchenQual</code> with 'TA'.<code>Exterior1st</code>, <code>Exterior2nd</code>, <code>SaleType</code>, we use the most frequency value to fill in.

In [18]:
features['Functional'] = features['Functional'].fillna('Typ')
features['Electrical'] = features['Electrical'].fillna("SBrkr")
features['KitchenQual'] = features['KitchenQual'].fillna("TA")
features['Exterior1st'] = features['Exterior1st'].fillna(features['Exterior1st'].mode()[0])
features['Exterior2nd'] = features['Exterior2nd'].fillna(features['Exterior2nd'].mode()[0])
features['SaleType'] = features['SaleType'].fillna(features['SaleType'].mode()[0])
nulls(features)

                 0        1
FireplaceQu   1420   object
LotFrontage    486  float64
GarageCond     159   object
GarageQual     159   object
GarageFinish   159   object
GarageYrBlt    159  float64
GarageType     157   object
BsmtCond        82   object
BsmtExposure    82   object
BsmtQual        81   object
BsmtFinType2    80   object
BsmtFinType1    79   object
MasVnrType      24   object
MasVnrArea      23  float64
MSZoning         4   object
BsmtHalfBath     2  float64
BsmtFullBath     2  float64
Utilities        2   object
TotalBsmtSF      1  float64
BsmtFinSF2       1  float64
BsmtFinSF1       1  float64
GarageCars       1  float64
GarageArea       1  float64
BsmtUnfSF        1  float64
There are 24 columns with missing values

Next, we check the garage related features. There are instance with both <code>GarageCars</code>, and <code>GarageYrBlt</code> is null, that suggested some house has no carage. For instance <code>2124</code> and <code>2574</code>, they really have the carage, so we use the average value of numerical feature and most frequency value to fill in the missing parts. For other instances, we use '0' to fill in numerical features, <code>GarageCars</code>, <code>GarageYrBlt</code>, and <code>GarageArea</code>and use 'None to fill in non-numeric features like <code>GarageType</code>, <code>GarageFinish</code>, <code>GarageQual</code> and <code>GarageCond</code>.

In [19]:
# Garage related
features[(features['GarageCars'].isnull()) & features['GarageYrBlt'].isnull()]

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
2576,70,RM,50.0,9060,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,212,0,0,0,0,3,2007,WD,Alloca

In [20]:
features.loc[2124, 'GarageYrBlt'] = features['GarageYrBlt'].median()
features.loc[2574, 'GarageYrBlt'] = features['GarageYrBlt'].median()

features.loc[2124, 'GarageFinish'] = features['GarageFinish'].mode()[0]
features.loc[2574, 'GarageFinish'] = features['GarageFinish'].mode()[0]

features.loc[2574, 'GarageCars'] = features['GarageCars'].median()

features.loc[2124, 'GarageArea'] = features['GarageArea'].median()
features.loc[2574, 'GarageArea'] = features['GarageArea'].median()

features.loc[2124, 'GarageQual'] = features['GarageQual'].mode()[0]
features.loc[2574, 'GarageQual'] = features['GarageQual'].mode()[0]

features.loc[2124, 'GarageCond'] = features['GarageCond'].mode()[0]
features.loc[2574, 'GarageCond'] = features['GarageCond'].mode()[0]

In [21]:
features['GarageType']=features['GarageType'].fillna('None')
features['GarageYrBlt']=features['GarageYrBlt'].fillna(0)
features['GarageFinish']=features['GarageFinish'].fillna('None')
features['GarageCars']=features['GarageCars'].fillna(0)
features['GarageArea']=features['GarageArea'].fillna(0)
features['GarageQual']=features['GarageQual'].fillna('None')
features['GarageCond']=features['GarageCond'].fillna('None')

nulls(features)

                 0        1
FireplaceQu   1420   object
LotFrontage    486  float64
BsmtCond        82   object
BsmtExposure    82   object
BsmtQual        81   object
BsmtFinType2    80   object
BsmtFinType1    79   object
MasVnrType      24   object
MasVnrArea      23  float64
MSZoning         4   object
Utilities        2   object
BsmtFullBath     2  float64
BsmtHalfBath     2  float64
BsmtFinSF1       1  float64
BsmtFinSF2       1  float64
BsmtUnfSF        1  float64
TotalBsmtSF      1  float64
There are 17 columns with missing values

Then, we deal with Bsmt related features. With carefully observation, we can fill in some instances with the value they should have, like below:

In [22]:
# Bsmt related
features.loc[332, 'BsmtFinType2'] = 'ALQ' 
features.loc[947, 'BsmtExposure'] = 'No' 
features.loc[1485, 'BsmtExposure'] = 'No'
features.loc[2038, 'BsmtCond'] = 'TA'
features.loc[2183, 'BsmtCond'] = 'TA'
features.loc[2215, 'BsmtQual'] = 'Po' 
features.loc[2216, 'BsmtQual'] = 'Fa' 
features.loc[2346, 'BsmtExposure'] = 'No' 
features.loc[2522, 'BsmtCond'] = 'Gd'

On the other hand, we fill in the numerical features (like <code>BsmtFinSF1</code>, <code>BsmtFinSF2</code>, <code>TotalBsmtSF1</code>,  <code>BsmtFullBath</code>,  <code>BsmtHalfBath</code> and  <code>BsmtUnfSF</code>) with '0', and fill in the non-numeric features (like  <code>BsmtQual</code>, <code>BsmtCond</code>, <code>BsmtExposure</code>, <code>BsmtFinType1</code> and <code>BsmtFinType2</code>) with 'None'.

In [23]:
features['BsmtQual']=features['BsmtQual'].fillna('None')
features['BsmtCond']=features['BsmtCond'].fillna('None')
features['BsmtExposure']=features['BsmtExposure'].fillna('None')
features['BsmtFinType1']=features['BsmtFinType1'].fillna('None')
features['BsmtFinSF1']=features['BsmtFinSF1'].fillna(0)
features['BsmtFinType2']=features['BsmtFinType2'].fillna('None')
features['BsmtFinSF2']=features['BsmtFinSF2'].fillna(0)
features['TotalBsmtSF']=features['TotalBsmtSF'].fillna(0)
features['BsmtFullBath']=features['BsmtFullBath'].fillna(0)
features['BsmtHalfBath']=features['BsmtHalfBath'].fillna(0)
features['BsmtUnfSF']=features['BsmtUnfSF'].fillna(0)

nulls(features)

                0        1
FireplaceQu  1420   object
LotFrontage   486  float64
MasVnrType     24   object
MasVnrArea     23  float64
MSZoning        4   object
Utilities       2   object
There are 6 columns with missing values

Next, dealing with non-numeric feature  <code>MasVnrType</code> to fill in with 'None' and numerical feature  <code>MasVnrArea</code> with '0'.

In [24]:
#MasVnr related
features['MasVnrType']=features['MasVnrType'].fillna('None')
features['MasVnrArea']=features['MasVnrArea'].fillna(0)

nulls(features)

                0        1
FireplaceQu  1420   object
LotFrontage   486  float64
MSZoning        4   object
Utilities       2   object
There are 4 columns with missing values

As we know, houses in a specifc zone may have a similar type of dwelling. So, we fill the feature  <code>MSZoning</code> with different  <code>MSSubClass</code> subgroups. Using most frequency value of each subgroup to filling in the missing values.

In [25]:
# MSZoning
features['MSZoning'] = features.groupby('MSSubClass')['MSZoning'].transform(lambda x: x.fillna(x.mode()[0]))

nulls(features)

                0        1
FireplaceQu  1420   object
LotFrontage   486  float64
Utilities       2   object
There are 3 columns with missing values

From the graph below, we can find <code>Utilities</code> has only to values and most of instances have the same value. It suggests this feature is not usefull to our regression task. So we delete it.

In [26]:
# Utilities
import matplotlib.pyplot as plt
plt.scatter(train.Utilities, train.SalePrice)
plt.show()

In [27]:
features=features.drop("Utilities", 1)

Checking the graph in EDA part, we find <code>FireplaceQu</code> has three values, however, they are corresponding to  a similar 'SalesPrice' value. So we delete it.

In [28]:
features=features.drop("FireplaceQu", 1)

In [29]:
# LotFrontage
features['LotFrontage'] = features.groupby('Neighborhood')['LotFrontage'].transform(lambda x: x.fillna(x.median()))

nulls(features)

Empty DataFrame
Columns: [0, 1]
Index: []
There are 0 columns with missing values

Finally, we handle out all the missing values and get 73 features.

In [30]:
features.shape

(2919, 73)

In [31]:
features.describe()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,...,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000
mean,57.137718,69.542994,10168.114080,6.089072,5.564577,1971.312778,1984.264474,101.396026,441.272011,49.565262,...,472.597465,93.709832,47.486811,23.098321,2.602261,16.062350,2.251799,50.825968,6.213087,2007.792737
std,42.517628,21.703256,7886.996359,1.409947,1.113131,30.291442,20.894344,178.854579,455.606014,169.179104,...,215.478636,126.526589,67.575493,64.244246,25.188169,56.184365,35.663946,567.402211,2.714762,1.314964
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,20.000000,60.000000,7478.000000,5.000000,5.000000,1953.500000,1965.000000,0.000000,0.000000,0.000000,...,320.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,50.000000,70.000000,9453.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,368.000000,0.000000,...,480.000000,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,70.000000,80.000000,11570.000000,7.000000,6.000000,2001.000000,2004.000000,163.500000,733.000000,0.000000,...,576.000000,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1526.000000,...,1488.000000,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

By checking the data description, we find an error here: <code>2592</code> instance has <code>GarageYrBlt</code> equal to '2207'. It should be '2007', which can make sense.

In [32]:
features[features['GarageYrBlt'] == 2207]

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
2592,20,RL,68.0,8298,Pave,IR1,HLS,Inside,Gtl,Timber,...,0,0,0,0,0,0,9,2007,New,Partial

In [33]:
features.loc[2590, 'GarageYrBlt'] = 2007

#### Create new features
Here, we create three new feature for total number of bathrooms, total area of house, and total area of porch, which may have a better reflection of 'SalesPrice'.

In [34]:
features['Total_sqr_footage'] = (features['BsmtFinSF1'] + features['BsmtFinSF2'] +
                                 features['1stFlrSF'] + features['2ndFlrSF'])

features['Total_Bathrooms'] = (features['FullBath'] + (0.5*features['HalfBath']) + 
                               features['BsmtFullBath'] + (0.5*features['BsmtHalfBath']))

features['Total_porch_sf'] = (features['OpenPorchSF'] + features['3SsnPorch'] +
                              features['EnclosedPorch'] + features['ScreenPorch'] +
                             features['WoodDeckSF'])

In [35]:
features.shape

(2919, 76)

In [36]:
X = features.iloc[:len(y),:]
testing_features = features.iloc[len(X):,:]
X.to_csv('training_features.csv', index=False)
testing_features.to_csv('testing_features.csv', index=False)

In [37]:
print(X.shape)
print(testing_features.shape)

(1460, 76)
(1459, 76)

In [38]:
features_num = features.select_dtypes(include=[np.number])
features_cat = features.select_dtypes(exclude=[np.number])
features_num.shape

(2919, 39)

In [39]:
features_cat.shape

(2919, 37)

After all, we totally get 76 features, in which 39 are numeric and 37 are non-numeric.